.drug-page {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
}

.drug-detail {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.drug-name-input,
.drug-price-input,
.drug-description-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.drug-description-input {
    height: 100px;
    resize: none;
    overflow-y: auto;
}

.button-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.drug-save-changes {
    background-color: #4CAF50;
    color: white;
}

.drug-submit {
    background-color: #008CBA;
    color: white;
}

.drug-delete {
    background-color: #f44336;
    color: white;
}

.illness-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.illness-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9dddd;
}

.illness-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    color: black;
}

.illness-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.illness-info {
    text-align: center;
    margin-top: 10px;
    padding: 0px;
}

.illness-delete {
    background-color: #e74c3c;
    color: white;
    margin-top: 5px;
}

.trial-card {
    flex: 1;
}

.trial-input {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
}

.error {
    border-color: red;
}
