/* Общий контейнер страницы */


/* Контейнер для контента */
/* Основные стили страницы */
.clinpharm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
}

/* Поисковая строка */
.search-section { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    padding: 5px 10px;
    width: 300px;
}

.search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
}

/* Контейнер для карточек */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 400px) {
    .illness-card-container {
        width: 66.7%;
    }

    .illness-card-grid {
        grid-template-columns: 1fr;
        gap: 20px 10px;
    }
}
