.header {
    height: 100px;
    padding-inline-start: 100px;
    padding-inline-end: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .topline { 
    display: flex;
    flex-direction: row; 
    align-items: center;
    height: 115px;    
}

.header .logo {
    width: 260px;
}

.header-links {
    display: flex; 
    align-items: center;
    gap: 20px;
}

.header a {
    border: 1px solid #fff;
    padding: 15px 25px;
    color: #003333;
    border-radius: 50px;
    margin-right: 5px;
    white-space: nowrap;
}

.button-exit {
    padding: 8px 16px;
    background-color: #ffdfe6;
    border: 1px solid #d21e45;
    cursor: pointer;
}

/* Псевдоэлемент для линии под хедером */
.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e62c55; /* По умолчанию розовый */
}

/* Для главной страницы линия белого цвета */
.header.home::after {
    background-color: white;
}
