.header {
    height: 100px;
    padding-inline-start: 100px;
    padding-inline-end: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.header img {
    width: 500px;
    height: auto;
}

.header a {
    margin-left: 5%;
    margin-top: 3%;
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    margin-left: 15%;
    background-color: #ffffff;
}

@media (max-width: 400px) {
    .header {
        height: 80px;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        justify-content: flex-start;
    }

    .header img {
        width: 50px;
        height: 50px;
    }

    .header a {
        margin-left: 10px;
    }

    .header::after {
        width: 90%;
        margin-left: 5%;
    }
}
