.illness-page {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.illness-details {
    display: flex;
    padding-top: 20px;
}

.illness-image-card {
    margin-right: 50px;
}

.illness-image-card img {
    max-width: 400px;
    height: auto;
    display: block;
}

.illness-info {
    max-width: 400px;
}

.illness-info p {
    font-size: 20px;
    line-height: 1.5;
    margin: 5px 0;
}

.illness-info strong {
    font-weight: bold;
}

.loading-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.illness-save-edit,
.illness-change-photo {
    display: block; /* Чтобы кнопки встали по центру */
    width: 200px; /* 20% ширины экрана */
    margin: 10px auto; /* Центрирование по горизонтали и небольшой отступ между кнопками */
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white; /* Белый текст */
}

.illness-save-edit {
  background-color: #007bff; /* Синий цвет */
}

.illness-save-edit:hover {
  background-color: #0056b3; /* Более темный синий при наведении */
}

.illness-change-photo {
  background-color: #fff200; /* Красный цвет */
}

.illness-change-photo:hover {
  background-color: #d8cb10; /* Более темный красный при наведении */
}

.illness-edit-input, .illness-edit-textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }